{% extends 'base.html.twig' %}

{% block body %}
    <h1>Purchase</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ purchase.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if purchase.date %}{{ purchase.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Total_price</th>
                <td>{{ purchase.totalprice }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_purchase_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_purchase_edit', { 'id': purchase.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
